*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.p-5{
    height: 500px;
    margin-top: 8%;
    background-color: rgba(238, 247, 241, 0.7);
}
.p-5>h2{
    color: rgb(14, 14, 123);
}
.p-5>p{
    color: red;
    font-size: 18px;
    margin-top: 2%;
    margin-bottom: 3%;
}
.font>div>h3{
    font-size: 15px;
    font-weight: 800;
    color: rgb(93, 91, 91);
    text-align: center;
    margin-bottom: 8%;
}
.font>div>p{
    color: gray;
    text-align: justify;
    direction: rtl;
}
.margin-5>div>img{
    margin-bottom: 20%;
} 